@if (products.length > 0) {
  <h1>Products ({{ products.length }})</h1>

  <ul class="pill-group">
    @for (product of products; track product.id; let i = $index) {
      <li class="pill" (click)="selectedProduct = product">
        {{ i + 1 }}.
        @switch (product.title) {
          @case ('Keyboard') {
            ⌨
          }
          @case ('Microphone') {
            🎙
          }
          @default {
            🏷
          }
        }
        {{ product.title }}
      </li>
    } @empty {
      <p>No products found!</p>
    }
  </ul>
}
<app-product-detail
  #productDetail
  [product]="selectedProduct"
  (added)="onAdded($event)"
/>
