@if (products().length > 0) {
  <h1>Products ({{ products().length }})</h1>

  <ul class="pill-group">
    @for (product of products() | sort; track product.id; let i = $index) {
      <li class="pill" (click)="selectedProduct = product">
        {{ i + 1 }}.
        <app-product-view [id]="product.id"/>
      </li>
    } @empty {
      <p>No products found!</p>
    }
  </ul>
}

<app-product-detail
  #productDetail
  [product]="selectedProduct"
  (added)="onAdded($event)"
/>

<div *appPermission="['admin', 'agent']">
  <h2>Promotion ad</h2>
  <ng-template appProductHost />
</div>
